{% extends "layouts/main.html" %}

{% block pageTitle %}
  Ria Smith record - delete an MQ – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">
  Ria Smith
</h1>

{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'General',
    href: '#1'
  }, {
    text: 'Qualifications',
    href: '#2',
    active: true
  }, {
    text: 'Alerts',
    href: '#3'
  }, {
    text: 'Change history',
    href: '#4'
  }]
}) }}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Mandatory qualification for multi sensory impairment"
    },
    actions: {
      items: [
        {
          href: "ria-smith-delete",
          text: "Delete qualification",
          visuallyHiddenText: "delete mandatory qualification"
        }
      ]
    }
  },
  rows: [
  {
    key: {
      text: "Training provider"
    },
    value: {
      text: "University of Birmingham"
    },
    actions: {
      items: [
        {
          href: '#',
          text: "Change",
          visuallyHiddenText: "change training provider"
        }
      ]
    }
  },
    {
      key: {
        text: "Specialism"
      },
      value: {
        text: "Multi sensory"
      },
      actions: {
        items: [
          {
            href: '#',
            text: "Change",
            visuallyHiddenText: "change specialism"
          }
        ]
      }
    },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "7 December 2020"
      },
      actions: {
        items: [
          {
            href: '#',
            text: "Change",
            visuallyHiddenText: "change start date"
          }
        ]
      }
    },
    {
      key: {
        text: "Result"
      },
      value: {
        text: "Passed"
      },
      actions: {
        items: [
          {
            href: '#',
            text: "Change",
            visuallyHiddenText: "change result"
          }
        ]
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        text: "31 December 2022"
      },
      actions: {
        items: [
          {
            href: '#',
            text: "Change",
            visuallyHiddenText: "change end date"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add a mandatory qualification",
  href: '#'
}) }}

{% endblock %}
