{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Mandatory Qualifications
        </h2> 
      
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Add a mandatory qualification",
            href: "/MQ/search-results-ria-smith",
            isStartButton: true
          }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Delete a mandatory qualification",
            href: "/MQ/delete/search-results-ria-smith",
            isStartButton: true
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h2 class="govuk-heading-m">
            Change requests
          </h2>
        
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Manage change requests",
              href: "/change-requests/home",
              isStartButton: true
            }) }}
        
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h2 class="govuk-heading-m">
            Alerts
          </h2>
      
          <p class="govuk-body" govuk-body>Search for DOB "01/01/1980":
            <ul class="govuk-list govuk-list--bullet">
              <li>Ria Smith has an alert that can be removed</li>
              <li>Magnus Davidsson-Summer has no alert and you can add one</li>
            </ul>
          </p>
      
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Add and manage alerts",
              href: "",
              disabled: true
            }) }}
      
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
            <h2 class="govuk-heading-m">
              Manual PII changes
            </h2> 
          
              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
                text: "Change personal information",
                href: "",
                disabled: true
              }) }}

  </div>
</div>

{% endblock %}
